@model Prueba_tecnica_01.Models.MateriasxAlumno

@{
    ViewData["Title"] = "Edit";
}

<h1 class="txt-title">Modificar Calificación</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdMateria" class="control-label">Materia</label>
                <select asp-for="IdMateria" class="form-control" asp-items="ViewBag.IdMateria"></select>
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAlumno" class="control-label">Nombre del Alumno</label>
                <select asp-for="IdAlumno" class="form-control" asp-items="ViewBag.IdAlumno"></select>
                <span asp-validation-for="IdAlumno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion1" class="control-label">Calificación 1</label>
                <input asp-for="Calificacion1" class="form-control" />
                <span asp-validation-for="Calificacion1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion2" class="control-label">Calificación 2</label>
                <input asp-for="Calificacion2" class="form-control" />
                <span asp-validation-for="Calificacion2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion3" class="control-label">Calificación 3</label>
                <input asp-for="Calificacion3" class="form-control" />
                <span asp-validation-for="Calificacion3" class="text-danger"></span>
            </div>

            <div class="form-group section-buttons">
                <input type="submit" value="Save" class="btn btn-primary btn-save" />
                <div class="btn-section-trowback">
                    <a class="btn-trowback" asp-action="Index">Regresar a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_notificationPartial" />
