<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prueba_tecnica_01</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Prueba_tecnica_01.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css" />
  </head>
  <body>
    <header>
      <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <div class="logo_name">Sistema de calificaciones</div>
          </div>
          <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
          <li>
            <a asp-area="" asp-controller="Alumno" asp-action="index">
              <i class="bx bx-user"></i>
              <span class="links_name">Alumnos</span>
            </a>
            <span class="tooltip">Alumnos</span>
          </li>
          <li>
            <a asp-area="" asp-controller="Maestro" asp-action="index">
              <i class="bx bx-user"></i>
              <span class="links_name">Maestros</span>
            </a>
            <span class="tooltip">Maestros</span>
          </li>
          <li>
            <a asp-area="" asp-controller="Materia" asp-action="index">
              <i class="bx bx-library"></i>
              <span class="links_name">Materias</span>
            </a>
            <span class="tooltip">Materias</span>
          </li>
          <li>
            <a asp-area="" asp-controller="MateriasxAlumno" asp-action="index">
              <i class="bx bx-archive"></i>
              <span class="links_name">Calificaciones</span>
            </a>
            <span class="tooltip">Calificaciones</span>
          </li>
        </ul>
        <div class="content">
          <div class="user">
            <div class="user_details">
              <div class="name_job">
                <div class="name">Kevin Mejia</div>
                <div class="job">Web Developer</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="home_content">
       <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js" asp-append-version="true"></script>
      <main role="main">
        @RenderBody()
      </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>

