@model Prueba_tecnica_01.Models.Materia

@{
    ViewData["Title"] = "Create";
}

<h1 class="txt-title">Creación de una materia</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreMateria" class="control-label">Nombre de la materia</label>
                <input asp-for="NombreMateria" class="form-control" />
                <span asp-validation-for="NombreMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfesor" class="control-label">Profesor encargador</label>
                <select asp-for="IdProfesor" class ="form-control" asp-items="ViewBag.IdProfesor"></select>
            </div>
            <div class="form-group section-buttons">
                <input type="submit" value="Create" class="btn btn-primary btn-save" />
                <div class="btn-section-trowback">
                    <a class="btn-trowback" asp-action="Index">Regresar a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<partial name="_notificationPartial" />
