@model IEnumerable<Prueba_tecnica_01.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h1 class="txt-title">Sección de Materias</h1>

<div class="btn-secction">
    <a class="btn-create-new" asp-action="Create">Agregar nueva materia</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Materia
            </th>
            <th>
                Profesor encargado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesorNavigation.Nombre)
            </td>
            <td>
                <a class="btn-edit" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bx-edit"></i></a>
                <a class="btn-delete" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_notificationPartial" />
